# Ignore build
/build/
build.log
/obj/
/grooviev1/build/grooviev1-native
/grooviev1/build/font-atlas-glyphs/
/research/

# Ignore .vs dir
/.vs/
/.vscode/

# Ignore the program
v64tng.exe
config.json
research/trace/


# Ignore 7th Guest commercial assets
/T7G/
*.RL
*.GJD
*.vdx
*.xmi
/AT/
/B/
/CH/
/D/
/DR/
/FH/
/GA/
/GAMWAV/
/HDISK/
/HTBD/
/INTRO/
/JHEK/
/K/
/LA/
/LI/
/MB/
/MC/
/MU/
/N/
/P/
/XMI/

# Ignore local example output
examples/

# Python analysis caches
__pycache__/
*.pyc
